h1{
    color:rgb(224, 28, 28);
  background-color:aquamarine;
}
.same{
    color:rgb(224, 90, 28);
    background-color:aquamarine;
}
.another{
    font-size:300px;
}
p{
    font-size: 23px;
    color: blue;
    text-transform: capitalize;
    text-decoration:underline ;
    text-decoration-style:dotted;
    letter-spacing: 2px ;

    background-image: url(../img/img.jpg) ;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover ;
    background-attachment: fixed;
}